<!DOCTYPE html>
<html>
    <head>
        <%- contentFor('pageMeta') %>
        <%- include('../common/fragments/page-meta', { 
            title: 'ZEROPERSK by Krishna',
            description: 'ZEROPERSK by Krishna',
            keywords: 'ZEROPERSK by Krishna',
        }) %>
        <%- contentFor('topHead') %>
    </head>
    <body>
        <%- include('../common/fragments/navbar') %>
        <main>
            <section class="o-Layout">
                <div class="c-Home__mid-panel">
                    <span>LOREM&IPSUM</span>
                    <h1>Freelancer</h1>
                    <button class="o-Btn o-Btn--blue o-Icon o-Icon--dwn-arw">Know More</button>
                    <div class="c-Home__Banner"></div>
                </div>
            </section>
        </main>
    </body>
</html>