<!DOCTYPE html>
<html>
    <head>
        <%- contentFor('pageMeta') %>
        <%- include('../common/fragments/page-meta', { 
            title: 'ZEROPERSK by Krishna',
            description: 'ZEROPERSK by Krishna',
            keywords: 'ZEROPERSK by Krishna',
        }) %>
        <%- contentFor('topHead') %>
    </head>
    <body>
        <%- include('../common/fragments/navbar') %>
        <main>
            <section class="o-Layout">
                <div class="c-Home__mid-panel">
                    <span class="c-Home-mid-p__lt">TECH&HEALTH</span>
                    <h1 class="c-Home-mid-p__h">ZEROPERKS</h1>
                    <button class="o-Btn o-Btn--blue o-Icon o-Icon--dwn-arw">Know More</button>
                    <div class="c-Home__Banner">
                        <div class="c-Home-Banner__scooter"></div>
                    </div>
                </div>
            </section>
            <section class="c-Section-lt-white c-Home__sec">
                <div class="o-Layout">
                    <h2>Welcome to zeroperks, where sharing matters.</h2>
                    <p class="c-Section__desc">I build projects for customers and share my personal projects here as open source. In addition to that I also write about my recovery over my <span class="o-Tooltip" data-tool="Anterior Cruciate Ligament">ACL</span> tear.</p>
                </div>
            </section>
        </main>
    </body>
</html>