<!DOCTYPE html>
<html>
    <head>
        <%- contentFor('pageMeta') %>
        <%- include('../common/fragments/page-meta', { 
            title: 'ZEROPERSK by Krishna',
            description: 'ZEROPERSK by Krishna',
            keywords: 'ZEROPERSK by Krishna',
        }) %>
        <%- contentFor('topHead') %>
    </head>
    <body>
        <%- include('../common/fragments/navbar') %>
        <main>
            <section class="o-Layout">
                <div class="c-Home__mid-panel">
                    <span class="c-Home-mid-p__lt">TECH&HEALTH</span>
                    <h1 class="c-Home-mid-p__h">ZEROPERKS</h1>
                    <button class="o-Btn o-Btn--blue o-Icon o-Icon--dwn-arw">Know More</button>
                    <div class="c-Home__Banner">
                        <div class="c-Home-Banner__scooter"></div>
                    </div>
                </div>
            </section>
            <section class="c-Section-lt-white c-Home__sec">
                <div class="o-Layout">
                    <h2>Welcome to zeroperks, where sharing matters.</h2>
                    <p class="c-Section__desc">I build projects for customers and share my personal projects here as open source. In addition to that I also write about my recovery over the <span class="o-Tooltip" data-tool="Anterior Cruciate Ligament">ACL</span> tear.</p>
                    <div class="c-Home-sec__grid row">
                        <div class="col-sm-12 col-md-6 col-4">
                            <div class="o-Icon-block">
                                <i class="fas fa-handshake"></i>
                            </div>
                            <span class="c-Home-grid__title">Web/Mob Apps</span>
                            <p>Turn conversations into applications and get customers all around the world. Replace manual tasks to automation.</p>
                        </div>

                        <div class="col-sm-12 col-md-6 col-4">
                            <div class="o-Icon-block">
                                <i class="fas fa-x-ray"></i>
                            </div>
                            <span class="c-Home-grid__title">ACL</span>
                            <p>My experience over the ACL tear in my left knee. Explaining my findings, struggle, surgery and recovery.</p>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-4">
                            <div class="o-Icon-block">
                                <i class="fas fa-th-large"></i>
                            </div>
                            <span class="c-Home-grid__title">Responsive</span>
                            <p>Get seemless experience over any device is the key to any applications success. Simple solution over complex ideas.</p>
                        </div>

                        <div class="col-sm-12 col-md-6 col-4">
                            <div class="o-Icon-block">
                                <i class="fas fa-window-restore"></i>
                            </div>
                            <span class="c-Home-grid__title">Innovative</span>
                            <p>Bored with look alike websites built over Wix and Shopify. We deliver ideas on the topics you care about most straight to you.</p>
                        </div>

                        <div class="col-sm-12 col-md-6 col-4">
                            <div class="o-Icon-block">
                                <i class="fas fa-box-open"></i>
                            </div>
                            <span class="c-Home-grid__title">Open Source</span>
                            <p>As I learn I start building projects out of it. Such projects I make it publically available through github.</p>
                        </div>

                        <div class="col-sm-12 col-md-6 col-4">
                            <div class="o-Icon-block">
                                <i class="fas fa-dumbbell"></i>
                            </div>
                            <span class="c-Home-grid__title">Expertise</span>
                            <p>I provide wide range of advanced technologies. Whether you need simple tool or a complex enterprise solution, I am here to help.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="c-Section-white c-Home__sec">
                <div class="o-Layout">
                    <h2>Stuff I've Worked On</h2>
                    <p class="c-Section__desc">Working for corporations is my priority but in my leisure time I love to build some things for myself or freelance.</p>
                    <div class="c-Project-wrapper">
                        <div class="c-Project">
                            <figure class="c-Project__images">
                                <img src="/images/project-screenshots/eyf/page-1.png" alt="electyour-future-img">
                            </figure>
                            <div class="c-Project__content">
                                <p>Self Project</p>
                                <h3><a target="_blank" href="https://electyourfuture.com">EPolling Projections</a></h3>
                                <p>For the very first time an online election survey has been conducted at constituency level. I created a secure portal where users can vote anonymously. Used firebase for enabling push notifications and notified users while reveling the results. </p>
                                <ul>
                                    <li>Vue</li>
                                    <li>NodeJS</li>
                                    <li>Express</li>
                                    <li>Firebase</li>
                                    <li>SQL</li>
                                </ul>
                            </div>
                        </div>
                        <div class="c-Project c-Project--invert">
                            <figure class="c-Project__images">
                                <img src="/images/project-screenshots/play-time/page-1.png" alt="electyour-future-img">
                            </figure>
                            <div class="c-Project__content">
                                <p>Self Project</p>
                                <h3><a target="_blank" href="https://electyourfuture.com/play-time">Game Time</a></h3>
                                <p style="background-color: #ece7fe;">Song quiz, over 30 random songs from Kollywood where two team can compete. It was developed by myself over a night when we went for a summer vaccation. Series of image pops up as clues and teams have to guess the song name from it. There is a score board which decides who wins at last.</p>
                                <ul>
                                    <li>Vue</li>
                                    <li>NodeJS</li>
                                    <li>Express</li>
                                    <li>SQL</li>
                                </ul>
                            </div>
                        </div>
                        <div class="c-Project">
                            <figure class="c-Project__images">
                                <img src="/images/project-screenshots/coding-crocodile/page-1.png" alt="electyour-future-img">
                            </figure>
                            <div class="c-Project__content">
                                <p>Freelance</p>
                                <h3><a target="_blank" href="https://https://codingcrocodiles.com/">Coding Crocodiles</a></h3>
                                <p>A team of engineers grouped to start a new venture called <a href="https://codingcrocodiles.com/">Coding Crocodiles</a>. Helped them put their ideas into a website. Designed Logo, template and developed it through php. If needed in future it can be enhanced with wordpress.</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>SCSS</li>
                                    <li>BEM</li>
                                    <li>PHP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>