@use 'sass:math';

.row {
    display: flex;
    flex-flow: row wrap;

    &--al-center {
        align-items: center;
    }

    &--jt-sp-btw {
        justify-content: space-between;
    }

    &--jt-center {
        justify-content: center;
    }

    @include breakpoint ($bp-medium) {
        flex-flow: row wrap;
    }

    @include breakpoint ($bp-large) {
        flex-flow: row wrap;
    }
}

$total: 12;

@function column-width ($col) {
    @return math.percentage(math.div($col,$total));
}

@for $i from 1 through $total {
    .col-sm-#{$i}, .col-md-#{$i}, .col-#{$i} {
        width: 100%;
    }
}
@for $i from 1 through $total {
    .col-sm-#{$i} {
        @include breakpoint ($bp-xs-small) {
            @if ($total != $i) {
                box-sizing: border-box;
                padding: 0 .75em 0 0;
                width: column-width($i);
            }
        }
    }
}
@for $i from 1 through $total {
    .col-md-#{$i} {
        @include breakpoint ($bp-medium) {
            @if ($total != $i) {
                box-sizing: border-box;
                padding: 0 .75em 0 0;
                width: column-width($i);
            }
        }
    }
}
@for $i from 1 through $total {    
    .col-#{$i} {
        @include breakpoint ($bp-large) {
            @if ($total != $i) {
                box-sizing: border-box;
                padding: 0 .75em 0 0;
                width: column-width($i);
            }
        }
    }
}