$c-name: '.c-Section';

.pad {
    padding: 4em 1em;
}

#{$c-name}-white,
#{$c-name}-lt-white,
#{$c-name}-ultr-drk {
    @extend .pad;
}
#{$c-name}-lt-white {
    background-color: #edeeee;
}

#{$c-name}-ultr-drk {
    background-color: $navy-blue;
    color: $light-slate;
}

#{$c-name}__desc {
    color: $drk-gray;
    
    @include breakpoint ($bp-large) {
        max-width: 45em;
        margin: 0 auto;
    }
}