$c-name: '.c-Section';

#{$c-name}-white,
#{$c-name}-lt-white {
    padding: 4em 1em;
}
#{$c-name}-lt-white {
    background-color: #edeeee;
    padding: 4em 1em;
}

#{$c-name}__desc {
    color: $drk-gray;
    
    @include breakpoint ($bp-large) {
        max-width: 45em;
        margin: 0 auto;
    }
}