<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"><meta name="google-site-verification" content="OBHSOz2bJypVuqhse4EbUNPh6u4nlzaqmKaLoOryaqs" />
<main>
  <div class="email-container">
  <div class="email-body">
    <div class="banner">
       <h4>From Sabha & Krishna ❤️</h4>
      <h1>We Feel <span>the Love</span></h1>
    </div>
    <div class="email-content">
      <p>Hi there!</p>
      <p>We wanted to say a <b>big thank you</b> for celebrating with us at our baby shower and gender reveal. Your presence added so much joy to our day, and we appreciate your warm wishes and thoughtful gifts. We can't wait for you to meet our little one!</p>
     <p>Also please <b>share</b> all the event photos and videos to <b>mailkrishna2@gmail.com</b></p>
    <hr>
    <p>Sincerely,</p>
    <p class="sig">Sabha & Krishna</p>
    </div>
  </div>
</div>
</main>
<footer>
   <a href="https://www.zeroperks.com">www.zeroperks.com</a>
</footer>