$c-name: '.c-Post';

#{$c-name} {
    padding: 0 1em;
}

#{$c-name}__figure {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    height: 21em;
}

#{$c-name}__title {
    color: #333;
}

#{$c-name}__sd-list li {
    margin: 1em 0;
}

#{$c-name}__sd-item a {
    font-size: .875em;
}

.blog-post-content {
    line-height: 1.75;
    white-space: pre-wrap;
}

.blog-post-meta {
    font-size: .875em;
}