$c-name: '.c-Post';

#{$c-name} {
    padding: 0 1em;
}

#{$c-name}__figure {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    height: 21em;
}

#{$c-name}__title {
    color: #333;
    font-size: 1.25em;
    
    @include breakpoint ($bp-medium) {
        font-size: auto;
    }
}

#{$c-name}__sd-list li {
    margin: 1em 0;
}

#{$c-name}__sd-item a {
    font-size: .875em;
}

#{$c-name}__sd-share {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #dadada;
    padding-bottom: 1em;
}

#{$c-name}-sd-share__item {
    padding-right: 1em;
}

#{$c-name}-sd-share__item a svg {
    color: #9c27b0;
    font-size: 1.25em;
}

#{$c-name}__sd-item svg {
    color: #999;
    font-size: .65em;
    margin-right: .5em;
}

#{$c-name}__sd-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

#{$c-name}-side__related {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#{$c-name}-side__related .c-Comment-cnt-ftr__icn svg {
    font-size: 3em;
}

#{$c-name}-side__related .c-Comment-cnt-ftr__icn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: rgba(250, 250, 250, .70);
    padding: 1em;
    border-radius: 6pt;

    @include breakpoint ($bp-medium) {
        position: static;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        margin-top: 2em;
    }
}

.blog-post-content {
    line-height: 1.75;
    white-space: pre-wrap;
}

.blog-post-meta {
    font-size: .875em;
}