$c-name: '.c-Cred';

#{$c-name} {
    margin-top: 3em;
}

#{$c-name}__body > div:first-child {
    background-color: #282262;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 6pt;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6pt;
    border-bottom-right-radius: 0;

    @include breakpoint ($bp-medium) {
        border-top-left-radius: 6pt;
        border-bottom-left-radius: 6pt;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

#{$c-name}__logo {
    padding: 3em 0 0;
    width: 8em;

    @include breakpoint ($bp-medium) {
        padding: 5em 0;
    }
}

#{$c-name}__logo img {
    width: 100%;
}

#{$c-name}__categories {
    color: $white;
    height: 200px !important;
    
    @include breakpoint ($bp-medium) {
        height: auto;
    }
}

#{$c-name}__cat {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 200px !important;
    
    @include breakpoint ($bp-medium) {
        height: auto;
    }
}

#{$c-name}__cat .o-Icon-list {
    background-color: #211d52;
    width: 3em;
    height: 3em;
    border-radius: 40px;
    border: 1px dashed $white;
}

#{$c-name}-cat__heading {
    padding: 1em 0;
}

#{$c-name}__cat a {
    color: $white;
    text-decoration: none;
    font-size: .875rem;
}

#{$c-name}__body > div:last-child {
    box-sizing: border-box;
    box-shadow: 0 6px 30px -10px #282262;
    border-top-left-radius: 0;
    border-bottom-left-radius: 6pt;
    border-top-right-radius: 0;
    border-bottom-right-radius: 6pt;
    padding-right: 1em;
    padding-left: 1em;
    
    @include breakpoint ($bp-medium) {
        padding-left: 5em;
        padding-right: 5em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 6pt;
        border-bottom-right-radius: 6pt;
    }
}

#{$c-name}-form__header {
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    display: flex;
    background-color: $white;
    padding-top: 1em;

    @include breakpoint ($bp-medium) {
        padding-top: 4em;
    }
}

#{$c-name}-form__header li a {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1.6px;
    color: #999;
    text-decoration: none;
    border-bottom: 2px solid #999;
    padding-bottom: .2em;
    padding-left: 1em;
    padding-right: 1em;
}

#{$c-name}-form__header li a.active {
    color: #282262;
    border-color: #282262;
}

#{$c-name}__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em 0;
}

#{$c-name}__form .form-control {
    border: 1px solid $drk-black;
    border-radius: 4pt;
    height: 1em;
    width: 21em;
    padding: 1em;
}
