body {
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.u-Nav__logo-wrapper {
  width: 150px;
  height: 42px;
}

.u-Nav__logo-image {
  width: 100%;
}

.c-Hero {
  flex-direction: column-reverse;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.u-Bangers {
  font-family: 'Bangers', cursive;
}

.u-GreatVibes {
  font-family: 'Great Vibes', cursive;
}

.u-IbmPlex {
  font-family: 'IBM Plex Sans', sans-serif;
}

.u-Kaushan {
  font-family: 'Kaushan Script', cursive;
}

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .c-Hero {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}
/* Logo */

.parent {
	position: relative;
	/* height: 46px; */
	overflow: hidden;
}
#kLeft,
.kLeft {
	width: 0;
	height: 0;
	border-top: 5px solid #b7b924;
	border-right: 1px solid #b7b924;
	border-bottom: 40px solid #b7b924;
	border-left: 5px solid #b7b924;
	z-index: 2;
	-webkit-1transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#kTop,
.kTop {
	position: absolute;
	/*top:20px;
  left:0;*/
	left: 1px;
	top: 15px;
	width: 0;
	height: 0;
	border-top: 5px solid #b7b924;
	border-right: 1px solid #b7b924;
	border-bottom: 20px solid #c3fa87;
	border-left: 5px solid #b7b924;
	-webkit-transform: translate(100px) rotate(20deg);
	-webkit-transform-origin: 0 -250px;
	transform: translate(100px) rotate(20deg);
	transform-origin: 0 -250px;
}
#kBottom,
.kBottom {
	position: absolute;
	/*top: 23px;
       left: 11px;*/
	left: 12px;
	top: 20px;
	width: 0;
	height: 0;
	border-top: 5px solid #b7b924;
	border-right: 1px solid #c3fa87;
	border-bottom: 20px solid #c3fa87;
	border-left: 5px solid #b7b924;
	transform: rotate(-40deg);
	-webkit-1transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#kLeft.rotated {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#kBottom.rotated,
.kBottom.rotated {
	-webkit-transform: rotate(170deg);
	-moz-transform: rotate(170deg);
	-ms-transform: rotate(170deg);
	-o-transform: rotate(170deg);
	transform: rotate(320deg);
}
.small.kLeft {
	border-bottom: 20px solid #b7b924;
}
.small.kTop {
	border-bottom: 10px solid rgb(195, 250, 135);
	left: 1px;
	transform: translate(96px) rotate(20deg);
}
.small.kBottom {
	border-bottom: 10px solid rgb(195, 250, 135);
	left: 9px;
	top: 11px;
}

/* Blog */
.author-initial {
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.card-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card.card-cover:before {
  background-color: rgb(33 150 243 / 39%);
  content: '';
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

.blog-card__text {
  z-index: 1;
}

.blog-card__link {
  text-decoration: none;
}

.blog-post-content {
  white-space: break-spaces;
}

.blog-post-figure {
  width: 100%;
  background-size: cover;
  height: 15em;
  background-repeat: no-repeat;
  background-position: 50%;
}

.blog-post-content {
  font-size: 1em;
  line-height: 1.75em;
}