// White
$white: #fff;
$lt-white: #f6f6fd;

// Gray
$drk-gray: #888;
$lt-gray: #c3c5c4;

// Black
$black: #000;
$drk-black: #333;

// Blue
$ultra-drk-blue: #2f334c;
$mld-blue: #2548c8;
$ultra-blue: #0098d9;
