<footer class="c-Footer o-Layout">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-3">
            <a href="/" class="c-Footer__logo-link">
                <img class="c-Footer__logo" src="/images/zeroperks-logo.png" alt="zeroperks-logo">
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-2">
            <h4 class="c-Footer__menu-title">MAIN MENU</h4>
            <ul class="c-Footer__list">
                <li class="c-Footer__item">
                    <a class="c-Footer__link" href="/about">About</a>
                </li>
                <li class="c-Footer__item">
                    <a class="c-Footer__link" href="/topics">Topics</a>
                </li>
                <li class="c-Footer__item">
                    <a class="c-Footer__link" href="/contact">Hire me</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-2">
            <h4 class="c-Footer__menu-title">SOCIAL</h4>
            <ul class="c-Footer__list">
                <li class="c-Footer__item">
                    <a class="c-Footer__link" href="https://www.facebook.com/mynameiskrishnakumar">Facebook</a>
                </li>
                <li class="c-Footer__item">
                    <a class="c-Footer__link" href="https://www.linkedin.com/in/krishdev/">Linkedin</a>
                </li>
                <li class="c-Footer__item">
                    <a class="c-Footer__link" href="https://github.com/krishdev">Github</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-5">
            <h4 class="c-Footer__menu-title">DISCLAIMER FROM THE DEVELOPER</h4>
            <P>Zeroperks is a private website and is not affiliated with any government agency and is not assosiated with any corporation. Lots of information presented on this website is based on personal experience from Krishnakumar Rajendran. Information on this website should be used entirely at your own risk and zeroperks or Krishakumar Rajendran is not responsible in any way for your decisions based upon information on this website.</P>
        </div>
    </div>
    <p>© <%= year %> Krishnakumar Rajendran</p>
</footer>

<script src="<%= origin %>/dist/bundle.js"></script>
<script src="/javascripts/scrollreveal.js"></script>