<header>
    <nav class="c-Nav">
        <figure class="c-Nav__logo-wrapper">
            <img class="c-Nav__logo" src="/images/zeroperks-logo.png" alt="zeroperks-logo">
        </figure>
        <div class="c-Nav__toggle" id="mob-nav">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="c-Nav__list">
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="//">About</a>
            </li>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="//">Topics</a>
            </li>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="//">Hire me</a>
            </li>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="//">Sign In</a>
            </li>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="//">Sign Up</a>
            </li>
        </ul>
    </nav>
</header>