<header>
    <nav class="c-Nav">
        <figure class="c-Nav__logo-wrapper">
            <a href="/" class="c-Nav__logo-link">
                <img class="c-Nav__logo" src="/images/zeroperks-logo.png" alt="zeroperks-logo">
            </a>
        </figure>
        <div class="c-Nav__toggle" id="mob-nav">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="c-Nav__list">
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="/about">About</a>
            </li>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="/topics">Topics</a>
            </li>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="/contact">Hire me</a>
            </li>
            <% if (!token) { %>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="/login">Sign In</a>
            </li>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="/register">Sign Up</a>
            </li>
            <% } %>
            <% if (token) { %>
            <li class="c-Nav__item">
                <a class="c-Nav__link" href="/logout">Logout</a>
            </li>
            <% } %>
        </ul>
    </nav>
</header>