$o-name: '.o-Icon';

#{$o-name}-block {
    width: 65px;
    height: 65px;
    background-color: #ece7fe;
    border-radius: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: .875em;
}

#{$o-name}-link {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#{$o-name}-list {
    width: .875em;
    height: .875em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#{$o-name}-link svg {
    width: 2em !important;
    height: 2em !important;
    color: $white;
}

#{$o-name}-list svg {
    width: .875em !important;
    height: .875em !important;
    color: $drk-black   ;
}

#{$o-name}-block svg {
    width: 35px;
    color: $drk-gray;
}