$o-name: '.o-Icon';

#{$o-name}-block {
    width: 65px;
    height: 65px;
    background-color: #ece7fe;
    border-radius: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: .875em;
}

#{$o-name}-block svg {
    width: 35px;
    color: $drk-gray;
}